body {
    background-image: url(wallpaper1.png);
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 450px;
}
* {
    padding: 0;
    margin: 0;
}
.card {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    min-width: 450px;
}
.date {
    background-color: black;
    border: 1px solid white;
    width: 350px;
    height: max-content;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}
.logo {
    border-radius: 100px;
    width: 150px; 
    height: 150px;
}
.name {
    font-weight: 600;
    padding-top: 20px;
}
.date ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 10px;
}
.date ul li {
    padding: 10px;
}
.two {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.contacts {
    background-color: black;
    border: 1px solid white;
    border-top: 0;
    width: 350px;
    height: 100px;
    margin: auto;
}
.contacts ul {
    font-size: 3em;
    display: flex;
    list-style: none;
    justify-content: center;
}
.contacts ul li {
    width: 70px;
    text-align: center;
    line-height: 100px;
}
.contacts li a {
    color: lightblue;
}
@media screen and (max-width: 800px) {
    body {
    background-image: url(wallpaper1.png);
    background-size: auto;
    }
}
